<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495512637423-m86eu13aftbv8ab018hatfodfdt5n1vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495512637423-m86eu13aftbv8ab018hatfodfdt5n1vi</string>
	<key>API_KEY</key>
	<string>AIzaSyDggNnWF6EHEkuNXqK_-CqysxkVENO36bg</string>
	<key>GCM_SENDER_ID</key>
	<string>495512637423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amenityfinal</string>
	<key>PROJECT_ID</key>
	<string>amenity-project</string>
	<key>STORAGE_BUCKET</key>
	<string>amenity-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495512637423:ios:6789619358e96795c0301a</string>
</dict>
</plist>